<a href="https://colab.research.google.com/github/prabuddhadurge/Inference/blob/main/CleaningInference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
columns = "age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income"
data = pd.read_csv('/content/adult.data', delimiter=',', header=None, names=columns.split(', '))
data.to_csv('data.csv', index=False)

In [ ]:
# Replace '?' with np.nan for easier handling
data.replace(' ?', np.nan, inplace=True)

# Check for null values in each column
null_counts = data.isnull().sum()

# Print the columns with null values and their counts
print(null_counts[null_counts > 0])

Series([], dtype: int64)

In [ ]:
# Drop rows with any NaN values
data.dropna(inplace=True)

# Verify that there are no more NaN values
null_counts_after_drop = data.isnull().sum()
print(null_counts_after_drop[null_counts_after_drop > 0])

Series([], dtype: int64)

In [ ]:
# Display distinct occupations
distinct_occupations = data['occupation'].unique()
distinct_occupations

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Transport-moving',
       ' Farming-fishing', ' Machine-op-inspct', ' Tech-support',
       ' Craft-repair', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [ ]:
occupation_mapping = {
    ' Handlers-cleaners': 1,
    ' Adm-clerical': 2,
    ' Other-service': 3,
    ' Farming-fishing': 4,
    ' Sales': 5,
    ' Transport-moving': 6,
    ' Machine-op-inspct': 7,
    ' Craft-repair': 8,
    ' Tech-support': 9,
    ' Protective-serv': 10,
    ' Priv-house-serv': 11,
    ' Armed-Forces': 12,
    ' Exec-managerial': 13,
    ' Prof-specialty': 14
}

# Use the map function to create the new column, handling potential KeyError
data['occupation-num'] = data['occupation'].map(occupation_mapping).astype(int) # Fill NaN with -1 or any other default value

# Display distinct occupations and their corresponding numbers
print(data[['occupation', 'occupation-num']])

               occupation  occupation-num
0            Adm-clerical               2
1         Exec-managerial              13
2       Handlers-cleaners               1
3       Handlers-cleaners               1
4          Prof-specialty              14
...                   ...             ...
32556        Tech-support               9
32557   Machine-op-inspct               7
32558        Adm-clerical               2
32559        Adm-clerical               2
32560     Exec-managerial              13

[30162 rows x 2 columns]

In [ ]:
#data.isna().sum()
data.to_csv('adult_data.csv', index=False)